// Combined resource file for sspipes.scr
// All IDs hardcoded to avoid complex header chain issues with windres.

#include <windows.h>
#include "scrnsave.h"

// IDs from scrnsave.h:
//   IDS_DESCRIPTION = 1
//   DLG_SCRNSAVECONFIGURE = 2003
//   ID_APP = 100

// IDs from sscommon.h:
#define IDS_COPYRIGHT           9001
#define IDS_GENNAME             9003
#define IDS_INIFILE             9006
#define IDS_WARNING             9014
#define IDS_ERROR               9015
#define IDS_BITMAP_SIZE         9016
#define IDS_BITMAP_INVALID      9017
#define IDS_SELECT_ANOTHER_BITMAP 9018
#define IDS_START_FAILED        9019
#define IDS_TEXTUREFILTER       9021
#define IDS_TEXTUREDIALOGTITLE  9022
#define IDS_BMP                 9023
#define IDS_DOTBMP              9024
#define IDS_STARDOTBMP          9025
#define IDS_RGB                 9030
#define IDS_DOTRGB              9031
#define IDS_STARDOTRGB          9032
#define IDS_TEXTURE             9126
#define IDS_TEXTURE_FILE_OFFSET 9127
#define IDS_SIZE                9129
#define IDS_TESSELATION         9130

// IDs from dialog.h:
#define IDS_SAVERNAME           1002
#define IDS_JOINTTYPE           1008
#define IDS_SURFSTYLE           1009
#define IDS_TEXQUAL             1010
#define IDS_ALTERNATEMODE       1011
#define IDS_SWITCHODDS          1012
#define IDS_FLEX                1020
#define IDS_MULTIPIPES          1021
#define IDS_TEXTURE_COUNT       1029
#define IDS_TEXTURE0            1030
#define IDS_TEXTURE1            1031
#define IDS_TEXTURE2            1032
#define IDS_TEXTURE3            1033
#define IDS_TEXTURE4            1034
#define IDS_TEXTURE5            1035
#define IDS_TEXTURE6            1036
#define IDS_TEXTURE7            1037
#define IDS_TEXOFFSET0          1050
#define IDS_TEXOFFSET1          1051
#define IDS_TEXOFFSET2          1052
#define IDS_TEXOFFSET3          1053
#define IDS_TEXOFFSET4          1054
#define IDS_TEXOFFSET5          1055
#define IDS_TEXOFFSET6          1056
#define IDS_TEXOFFSET7          1057
#define IDS_JOINT_ELBOW         1100
#define IDS_JOINT_BALL          1101
#define IDS_JOINT_MIXED         1102
#define IDS_JOINT_CYCLE         1103
#define IDS_TEAPOTODDS          1022
#define IDS_PIPESPEED           1023
#define IDS_TEAPOTENABLED       1024
#define IDS_DISSOLVETIME        1025
#define IDS_DISSOLVESMOOTH      1026
#define IDS_DISSOLVERECT        1027

#define DLG_SETUP_TESSEL        2001
#define DLG_SETUP_TEXTURE       2002
#define IDC_STATIC_TESS_GRP     2006
#define IDC_STATIC_TEXQUAL_GRP  2007
#define IDC_SLIDER_TEAPOT_ODDS  2008
#define IDC_SLIDER_SPEED        2009
#define IDC_STATIC_TEAPOT_GRP  2010
#define IDC_STATIC_TEAPOT_MIN  2011
#define IDC_STATIC_TEAPOT_MAX  2012
#define IDC_STATIC_SPEED_GRP   2013
#define IDC_STATIC_SPEED_MIN   2014
#define IDC_STATIC_SPEED_MAX   2015
#define IDC_SLIDER_DISSOLVE_TIME    2016
#define IDC_SLIDER_DISSOLVE_RES     2017
#define IDC_STATIC_DISSOLVE_GRP     2020
#define IDC_STATIC_DISSOLVE_MIN     2021
#define IDC_STATIC_DISSOLVE_MAX     2022
#define IDC_STATIC_DISSOLVE_RES_MIN 2023
#define IDC_STATIC_DISSOLVE_RES_MAX 2024
#define IDC_RADIO_SINGLE_PIPE   3000
#define IDC_RADIO_MULTIPLE_PIPES 3001
#define IDC_RADIO_NORMAL        3100
#define IDC_RADIO_FLEX          3101
#define IDC_CHECK_TEAPOT        3102
#define IDC_CHECK_ALTERNATE     3103
#define IDC_STATIC_JOINTTYPE    2106
#define DLG_COMBO_JOINTTYPE     2200
#define IDC_COMBO_SWITCHODDS    2300
#define IDC_RADIO_SOLID         2111
#define IDC_RADIO_TEX           2112
#define IDC_RADIO_WIREFRAME     2113
#define IDC_CHECK_TRANS         2114
#define IDC_RADIO_TEXQUAL_DEFAULT 2121
#define IDC_RADIO_TEXQUAL_HIGH  2122
#define IDC_STATIC_TESS_MIN     2004
#define IDC_STATIC_TESS_MAX     2005
#define IDC_RADIO_DISSOLVE_SMOOTH      3202
#define IDC_RADIO_DISSOLVE_PIXELATED   3203

#define IDB_DEFTEX              99

// -----------------------------------------------------------------------
// Application icon
// -----------------------------------------------------------------------

ID_APP ICON "ssopengl.ico"

// -----------------------------------------------------------------------
// Common string resources
// -----------------------------------------------------------------------

STRINGTABLE PRELOAD
BEGIN
    IDS_WARNING             "Warning"
    IDS_ERROR               "Error"
    IDS_START_FAILED        "Screen saver failed to start."
    IDS_BITMAP_SIZE         "The texture must not be larger than %ld by %ld pixels."
    IDS_BITMAP_INVALID      "The texture you selected is not valid."
    IDS_SELECT_ANOTHER_BITMAP  "Please select another texture. %s is not valid."
    IDS_TEXTUREFILTER       "Texture files (*.bmp)"
    IDS_TEXTUREDIALOGTITLE  "Choose Texture File"
    IDS_BMP                 "BMP"
    IDS_DOTBMP              ".BMP"
    IDS_STARDOTBMP          "*.BMP"
    IDS_RGB                 "RGB"
    IDS_DOTRGB              ".RGB"
    IDS_STARDOTRGB          "*.RGB"
    IDS_COPYRIGHT           "Copyright (c) 1994 Microsoft Corporation"
    IDS_GENNAME             "ScreenSaver"
    IDS_INIFILE             "control.ini"
    IDS_TEXTURE             "Texture"
    IDS_TEXTURE_FILE_OFFSET "TextureFileOffset"
    IDS_SIZE                "Size"
    IDS_TESSELATION         "Tesselation"
END

// -----------------------------------------------------------------------
// Screensaver description (IDS_DESCRIPTION = 1, from scrnsave.h)
// -----------------------------------------------------------------------

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_DESCRIPTION         "3D Pipes (OpenGL)"
END

// -----------------------------------------------------------------------
// Pipe-specific string resources
// -----------------------------------------------------------------------

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_JOINTTYPE           "JointType"
    IDS_SURFSTYLE           "SurfStyle"
    IDS_TEXQUAL             "TextureQuality"
    IDS_FLEX                "Flex"
    IDS_MULTIPIPES          "MultiPipes"
    IDS_TEAPOTODDS          "TeapotOdds"
    IDS_PIPESPEED           "PipeSpeed"
    IDS_TEAPOTENABLED       "TeapotEnabled"
    IDS_DISSOLVETIME        "DissolveTime"
    IDS_DISSOLVESMOOTH      "DissolveSmooth"
    IDS_DISSOLVERECT        "DissolveRectLog"
    IDS_ALTERNATEMODE       "AlternateMode"
    IDS_SWITCHODDS          "SwitchOdds"
END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_TEXTURE_COUNT       "TextureCount"
    IDS_TEXTURE0            "Texture0"
    IDS_TEXTURE1            "Texture1"
    IDS_TEXTURE2            "Texture2"
    IDS_TEXTURE3            "Texture3"
    IDS_TEXTURE4            "Texture4"
    IDS_TEXTURE5            "Texture5"
    IDS_TEXTURE6            "Texture6"
    IDS_TEXTURE7            "Texture7"
END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_TEXOFFSET0          "TexOffset0"
    IDS_TEXOFFSET1          "TexOffset1"
    IDS_TEXOFFSET2          "TexOffset2"
    IDS_TEXOFFSET3          "TexOffset3"
    IDS_TEXOFFSET4          "TexOffset4"
    IDS_TEXOFFSET5          "TexOffset5"
    IDS_TEXOFFSET6          "TexOffset6"
    IDS_TEXOFFSET7          "TexOffset7"
END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_JOINT_ELBOW         "Elbow"
    IDS_JOINT_BALL          "Ball"
    IDS_JOINT_MIXED         "Mixed"
    IDS_JOINT_CYCLE         "Cycle"
END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_SAVERNAME           "Screen Saver.3DPipes"
END

// -----------------------------------------------------------------------
// Default texture bitmap embedded as a resource
// -----------------------------------------------------------------------

IDB_DEFTEX   100   DISCARDABLE   "STRIPE.BMP"

// -----------------------------------------------------------------------
// Setup dialog
//
// Layout (all y-coordinates absolute):
//   Row 1  y=  0 h=70 : Pipes + Pipe Style
//                        (Default / Flex / Alternate + Switch Odds /
//                         Incl. Teapot + Joint Type)
//   Row 2  y= 75 h=65 : Resolution + Surface Style (Solid / Textured / :3)
//   Row 3  y=145 h=52 : Teapot Frequency + Speed
//   Row 4  y=202 h=58 : Dissolve (Duration slider + Smooth/Pixelated + Res slider)
//   Dialog total height = 265
// -----------------------------------------------------------------------

DLG_SCRNSAVECONFIGURE DIALOG DISCARDABLE  28, 25, 332, 265
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "3D Pipes Setup"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,275,5,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,275,25,50,14,WS_GROUP

    // -----------------------------------------------------------------
    // Row 1: Pipes (single/multiple) and Pipe Style
    //
    // Left column  (x=130): Default radio, Flex radio, Alternate checkbox
    // Right column (x=185): Incl. Teapot checkbox, Joint Type label+combo,
    //                        Switch Odds label+combo
    // -----------------------------------------------------------------
    GROUPBOX        "Pipes",-1,5,0,110,55
    CONTROL         "&Single",IDC_RADIO_SINGLE_PIPE,"Button",
                    BS_AUTORADIOBUTTON,15,12,35,10
    CONTROL         "&Multiple",IDC_RADIO_MULTIPLE_PIPES,"Button",
                    BS_AUTORADIOBUTTON,15,27,40,10

    GROUPBOX        "Pipe Style",-1,120,0,150,70
    CONTROL         "&Default",IDC_RADIO_NORMAL,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,130,13,40,10
    CONTROL         "&Flex",IDC_RADIO_FLEX,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,130,28,35,10
    CONTROL         "&Alternate",IDC_CHECK_ALTERNATE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,130,46,50,10

    CONTROL         "Incl. &Teapot",IDC_CHECK_TEAPOT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,185,8,60,10
    LTEXT           "&Joint Type:",IDC_STATIC_JOINTTYPE,185,21,37,8
    COMBOBOX        DLG_COMBO_JOINTTYPE,185,30,60,50,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "Switch Odds:",-1,185,43,50,8
    COMBOBOX        IDC_COMBO_SWITCHODDS,185,52,57,50,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_GROUP | WS_TABSTOP

    // -----------------------------------------------------------------
    // Row 2: Resolution and Surface Style (Solid / Textured / :3)
    // -----------------------------------------------------------------
    GROUPBOX        "&Resolution",IDC_STATIC_TESS_GRP,5,75,110,50
    LTEXT           "Min",IDC_STATIC_TESS_MIN,15,88,30,7
    RTEXT           "Max",IDC_STATIC_TESS_MAX,85,88,20,7
    CONTROL         "Slider1",DLG_SETUP_TESSEL,"msctls_trackbar32",
                    TBS_NOTICKS | WS_GROUP | WS_TABSTOP,15,98,90,15

    GROUPBOX        "Surface Style",-1,120,75,150,65,WS_GROUP
    CONTROL         "Soli&d",IDC_RADIO_SOLID,"Button",BS_AUTORADIOBUTTON |
                    WS_GROUP | WS_TABSTOP,130,88,35,13
    CONTROL         "Te&xtured",IDC_RADIO_TEX,"Button",BS_AUTORADIOBUTTON |
                    WS_GROUP | WS_TABSTOP,130,103,48,14
    CONTROL         ":&3",IDC_CHECK_TRANS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,185,88,25,10
    PUSHBUTTON      "&Choose Texture...",DLG_SETUP_TEXTURE,184,103,66,14

    // -----------------------------------------------------------------
    // Row 3: Teapot Frequency and Speed
    // -----------------------------------------------------------------
    GROUPBOX        "Teapot Frequency",IDC_STATIC_TEAPOT_GRP,5,145,155,52
    LTEXT           "Common",IDC_STATIC_TEAPOT_MIN,15,158,35,7
    RTEXT           "Rare",IDC_STATIC_TEAPOT_MAX,130,158,20,7
    CONTROL         "Slider2",IDC_SLIDER_TEAPOT_ODDS,"msctls_trackbar32",
                    TBS_NOTICKS | WS_GROUP | WS_TABSTOP,15,168,130,15

    GROUPBOX        "Speed",IDC_STATIC_SPEED_GRP,165,145,155,52
    LTEXT           "Slow",IDC_STATIC_SPEED_MIN,175,158,20,7
    RTEXT           "Fast",IDC_STATIC_SPEED_MAX,290,158,20,7
    CONTROL         "Slider3",IDC_SLIDER_SPEED,"msctls_trackbar32",
                    TBS_NOTICKS | WS_GROUP | WS_TABSTOP,175,168,130,15

    // -----------------------------------------------------------------
    // Row 4: Dissolve
    //   Left  (x=15..130):  Duration slider  Instant → 8 sec
    //   Right (x=140..315): Smooth / Pixelated radios
    //                        Fine ←→ Coarse resolution slider (pixelated only)
    // -----------------------------------------------------------------
    GROUPBOX        "Dissolve",IDC_STATIC_DISSOLVE_GRP,5,202,320,58
    LTEXT           "Instant",IDC_STATIC_DISSOLVE_MIN,15,214,30,7
    RTEXT           "8 sec",IDC_STATIC_DISSOLVE_MAX,93,214,30,7
    CONTROL         "Slider4",IDC_SLIDER_DISSOLVE_TIME,"msctls_trackbar32",
                    TBS_NOTICKS | WS_GROUP | WS_TABSTOP,15,224,110,15

    CONTROL         "&Smooth",IDC_RADIO_DISSOLVE_SMOOTH,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,140,214,50,10
    CONTROL         "&Pixelated",IDC_RADIO_DISSOLVE_PIXELATED,"Button",
                    BS_AUTORADIOBUTTON,140,227,60,10
    LTEXT           "Fine",IDC_STATIC_DISSOLVE_RES_MIN,208,227,20,7
    RTEXT           "Coarse",IDC_STATIC_DISSOLVE_RES_MAX,290,227,25,7
    CONTROL         "Slider5",IDC_SLIDER_DISSOLVE_RES,"msctls_trackbar32",
                    TBS_NOTICKS | WS_GROUP | WS_TABSTOP,208,237,112,15
END
